body{
    background-color:lightgray;
    text-align: center;
    
}

.container-fluid{
   width:15% ;
   background-color: white;
   margin:10% auto;
   border:20px ;
   border-radius: 20px;
  
 min-width:300px;
 min-height: 550px ;
 
  

  
}

.img{
    width: 85%;
    margin: auto;
   padding: 30px 10px;
   text-align: center;
   border-radius: 40px;
}

.attribution { 
    font-size: 11px;
     text-align: center;

}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
.text{
    margin: auto;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;

}
.code{
   color: lightgrey;
   margin: auto;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

